<ul class="archives">
  <% page.posts.each(function (post) { %>
  <li class="archive-item">
    <span class="date"><%= date(post.date, "YYYY.MM.DD") %></span>
    <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <div class="tags">
      <% post.tags.map(tag => tag.name).forEach(function (tag) { %>
        <div class="tag-item"><%- tag %></div>
      <% }) %>
    </div>
  </li>
  <% }) %>
</ul>

<%- partial('_partial/paginator') %>

<p class="personal-disclaimer">(2026.04.22) Saya telah berdamai dengan tulisan yang tidak selesai,<br>senyatanya hidup, maka dari itu sila menikmati apa adanya :)</p>